/* pool head */
.headDiv {
  @apply frc text-gray-60 text-sm justify-between px-3 mt-8 mb-2 cursor-default xsm:hidden;
}

.headDiv > div:first-child {
  @apply lg:w-109;
}

.headDiv > div:last-child {
  @apply frc flex-1 justify-around;
}

.headDiv > div:last-child > div {
  @apply min-w-40 frcc;
}

.dclTips {
  @apply frcc w-full h-13 bg-dark-45 mb-2;
}
.dclTips > div {
  @apply w-276 text-gray-60 text-sm flex items-center;
}

.learnMore {
  @apply underline cursor-pointer hover:opacity-80;
}

/* hide low tvl checkbox styles */
.customCheckbox {
  @apply frcc cursor-pointer;
}

.customCheckbox input {
  display: none;
}

.checkmark {
  @apply inline-block bg-transparent relative rounded-sm mr-1 border border-gray-60;
  width: 14px;
  height: 14px;
  vertical-align: middle;
}

.customCheckbox input:checked ~ .checkmark {
  background-color: rgba(158, 254, 1, 1);
  @apply border-none;
}

.checkmark::after {
  content: "";
  display: none;
  @apply absolute;
}

.customCheckbox input:checked ~ .checkmark::after {
  @apply block;
  left: 4px;
  top: 1px;
  width: 6px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
