.tab {
  @apply w-13 h-6 flex items-center justify-center ml-2 rounded;
}

/* hide low tvl checkbox styles */
.customCheckbox {
  @apply frcc cursor-default;
}

.customCheckbox input {
  display: none;
}

.checkmark {
  @apply inline-block bg-transparent relative rounded-sm mr-1 border border-gray-60;
  width: 14px;
  height: 14px;
  vertical-align: middle;
}

.customCheckbox input:checked ~ .checkmark {
  background-color: rgba(158, 254, 1, 1);
  @apply border-none;
}

.checkmark::after {
  content: "";
  display: none;
  @apply absolute;
}

.customCheckbox input:checked ~ .checkmark::after {
  @apply block;
  left: 4px;
  top: 1px;
  width: 6px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkPlaceholder {
  @apply select-none font-normal text-sm;
}

/* pool head */
.headDiv {
  @apply frc text-gray-60 text-sm justify-between lg:px-3 mt-8 mb-2 cursor-default xsm:w-full;
}

.headDiv > div:first-child {
  @apply lg:w-109 xsm:w-full;
}

.headDiv > div:last-child {
  @apply frc flex-1 justify-around xsm:hidden;
}

.headDiv > div:last-child > div {
  @apply min-w-40 flex justify-start;
}
