.poolContainer {
  @apply lg:frcc xsm:flex xsm:items-center xsm:justify-between xsm:py-4 lg:w-[1104px] xsm:w-full lg:h-15 xsm:min-h-15 mt-3 rounded-lg px-3 text-white text-sm font-medium;
}

.notfarm {
  background: rgba(33, 43, 53, 0.3);
}
.isfarm {
  background: radial-gradient(
    24.64% 177.05% at 11.82% 0%,
    rgba(250, 255, 0, 0.21) 0%,
    rgba(33, 43, 53, 0.09) 80.5%
  );
}

.poolContainer > div:first-child {
  @apply lg:w-109;
}

.poolContainer > div:last-child {
  @apply frc lg:flex-1 justify-around;
}

.poolContainer > div:last-child > div {
  @apply lg:min-w-40 lg:fccc;
}

.tokenImgContainer {
  @apply flex items-center mr-1 shrink-0;
}

.tokenImgContainer img {
  width: 26px;
  height: 26px;
  @apply rounded-full border border-dark-40;
}

.tokenImgContainer > :last-child {
  transform: translateX(-4px);
}

.symbol {
  @apply text-base text-white font-medium px-2 overflow-hidden text-ellipsis whitespace-nowrap;
}

.tagPublicStyle {
  @apply frcc text-xs italic w-13 h-5 rounded-xl;
}

.topStyle {
  @apply frcc text-xs italic w-9 h-5 rounded-xl font-bold;
}
